/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Styling */
:root {
    --color-primary:#cc0000;
    --color-light:#ffffff;
    --text-color: #222;
    --line-height: 1.6;
    --letter-spacing: 2px;
}
/* Styling */
/* Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    line-height: var(--line-height);
}
/* Font Styling */
h1 {
    font-size: 48px;
    letter-spacing: var(--letter-spacing);
}

p {
    font-size: 15px;
}
/* x */